.boton.tres::after{
    content: "";
    height: 300%;
    width: 110%;
    position: absolute;
    z-index: 1;
    background: green;

    top: -298px;
    border-radius: 0px 0px 300px 300px;

    transition: .5s ease-in-out all;

}

.boton.tres:hover::after{
    top: 0;
}